*{
    font-family: "Raleway", sans-serif;
}

h1,h2,h3,h4,.h1,.h2,.h3,.h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

html, body {
    overflow-x: hidden;
}

:root {
    --black: rgb(26,26,26);
    --white: rgb(250,250,250);
    --gold: rgb(210, 174, 15);
}

.logo {
    fill: var(--black);
}

.logo-custom {
    fill: var(--gold);
}

.hamburger,
.hamburger:active,
.hamburger:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.nav-link {
    color: gray;
}
.nav-link:hover {
    color: var(--gold);
}

.bg-custom {
    background-color: var(--white);
    color: var(--black);
}

.nav-scroll {
    color: var(--white);
    background-color: var(--black);
    transition: all 500ms;
}

/* sezione cover */

header {
    height: 100vh;
    background: linear-gradient(rgb(250,250,250), rgba(250,250,250,0.0)), url(./media/cover.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 60px;
}

.btn-custom {
    border: 1px solid var(--gold);
    border-radius: 0px;
    height: 40px;
    width: 100px;
    color: var(--black);
    position: relative;
    z-index: 1;
    transition: all 400ms;
    overflow: hidden;
}

.btn-custom::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: var(--gold);
    transition: all 400ms;
}

.btn-custom:hover {
    color: var(--white);
}

.btn-custom:hover::before {
    width: 100%;
    height: 100%;
}

.logo-cover {
    width: 100%;
}

/* sezione storia del sito */

.img-storia {
    height: auto;
    width: auto;
}

/* sezione con i numeri che cambiano */

.sezione-conteggio {
    margin-top: 40px;
    padding: 40px;
    background-color: var(--white);
}

.font-bold {
    font-weight: 800;
    font-size: 50px;
    color: var(--gold);
}

/* sezione swiper js */

.swiper {
    width: 100%;
    height: 400px;
    background: #000;
    position: relative;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background: linear-gradient(rgba(250,250,250,0.3), rgba(250,250,250,0.4)), url(./media/img-reviews.jpg);
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
    color: var(--black);
}

.swiper-slide .subtitle {
    font-size: 21px;
    color: var(--black);
}

.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
    color: var(--black);
}

/* sezione del footer */

.bg-footer {
    height: 400px;
    background-color: #000;
    color: #fff;
    padding-top: 40px;
}


/* css annunci */

.titleAnnunci {
    margin-top: 100px;
}

